---
import json from '../../data/data.json'
import { MailIcon, PhoneIcon } from "lucide-react";
import { GitHubIcon } from '../components/icons/GitHubIcon'
import { LinkedInIcon } from '../components/icons/LinkedInIcon'
---

<footer class="max-w-screen-xl mx-8 xl:mx-auto border-t mt-10 print:hidden">
  <div class="my-4 flex items-center justify-between">
    <p class="text-neutral-500 text-sm font-light">&copy; 2024 Nick Golitsyn</p>
    <div class="flex gap-x-2 pt-1 text-sm text-neutral-500 print:hidden">
      {json.contact.email ? (
        <button class="size-7 hover:text-neutral-950 hover:bg-neutral-100 outline outline-1 outline-neutral-200 rounded-sm transition-colors">
          <a href={`mailto:${json.contact.email}`}>
            <MailIcon className="size-4 m-auto" />
          </a>
        </button>
      ) : null}
      {json.contact.tel ? (
        <button class="size-7 hover:text-neutral-950 hover:bg-neutral-100 outline outline-1 outline-neutral-200 rounded-sm transition-colors">
          <a href={`tel:${json.contact.tel}`}>
            <PhoneIcon className="size-4 m-auto" />
          </a>
        </button>
      ) : null}
      {json.contact.git ? (
        <button class="size-7 hover:text-neutral-950 hover:bg-neutral-100 outline outline-1 outline-neutral-200 rounded-sm transition-colors">
          <a href={`${json.contact.git}`}>
            <GitHubIcon className="size-4 m-auto" />
          </a>
        </button>
      ) : null}
      {json.contact.linkedIn ? (
        <button class="size-7 hover:text-neutral-950 hover:bg-neutral-100 outline outline-1 outline-neutral-200 rounded-sm transition-colors">
          <a href={`${json.contact.linkedIn}`}>
            <LinkedInIcon className="size-4 m-auto" />
          </a>
        </button>
      ) : null}
    </div>
    <!-- <div class="text-sm text-neutral-500 flex">
      <ul class="flex items-center gap-3">
        <li>
          <a href="https://www.linkedin.com/in/nickgolitsyn/" target="_blank">
            <Image class="max-h-4 max-w-4" src="/in.svg" alt="linkedin logo" width={16} height={16} />
          </a>
        </li>
        <li>
          <a href="mailto:golitsynnick@gmail.com" target="_blank">
            <Image class="max-h-4 max-w-4" src="/mail.svg" alt="mail" width={16} height={16} />
          </a>
        </li>
        <li>
          <a href="tel:+447403525139" target="_blank">
            <Image class="max-h-4 max-w-4" src="/tel.svg" alt="telephone" width={16} height={16} />
          </a>
        </li>
        <li>
          <a href="https://github.com/nickgolitsyn/" target="_blank">
            <Image class="max-h-4 max-w-4" src="/github.svg" alt="github logo" width={16} height={16} />
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</footer>