<nav class="mt-4 sm:mt-8 w-screen flex justify-center">
  <ul class="flex items-center bg-gray-500 bg-opacity-20 border border-gray-400 border-opacity-70 w-fit mx-auto rounded-full backdrop-blur-md fixed">
    <li class="py-4 px-8 mx-1 cursor-pointer">Home</li>
    <li class="py-4 px-8 mx-1 cursor-pointer">About</li>
    <li class="py-4 px-8 mx-1 cursor-pointer">Projects</li>
    <div class="w-24 rounded-full bg-gray-700 opacity-40 h-9 custom-transition"></div>
  </ul>
</nav>
<style>
  .custom-transition {
    transition: transform .3s cubic-bezier(.34,1.56,.64,1);;
  }
</style>